// Since terms, etc. are made from Markdown, apply
// styling to standard tags here
#area > .terms,
#area > .about,
#area > .privacy
    h2, h3
        font-size 1.5em

html
    &[lang="nb-NO"] .visible-nb-NO
    &[lang="en-US"] .visible-en-US
        display block

    .visible-en-US
    .visible-nb-NO
        display none
