<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%= i18n('verifyemail.heading') %></h4>
            </div>
            <div class="modal-body">
                <p><%= i18n('verifyemail.intro') %></p>

                <div class="row-fluid">
                    <button class="send btn btn-large btn-success"><%= i18n('verifyemail.send button', email) %></button>
                </div>
            </div>
        </div>
    </div>
</div>
