<div class="settings-nav area-nav col-lg-3">
    <div class="jc-sidebar">
        <ul class="nav jc-sidenav">
            <li class="profile">
                <a href="#settings/profile">
                    <i class="icon-list"></i>
                    <%- i18n('settings.nav.profile') %>
                </a>
            </li>
            <li class="twofactor">
                <a href="#settings/twofactor">
                    <i class="icon-list"></i>
                    <%- i18n('settings.nav.two factor') %>
                </a>
            </li>
            <li class="changepassword">
                <a href="#settings/changepassword">
                    <i class="icon-key"></i>
                    <%- i18n('settings.nav.change password') %>
                </a>
            </li>
        </ul>
    </div>
</div>
