@import "account"
@import "deposit"
@import "withdraw"
@import "trade"
@import "master"
@import "about"

@import "shared"
@import "top"
@import "verifyphone"
@import "register"
@import "login"


.area-nav
    .tabbable
        @media (min-width: 768px)
            margin-top 4em

            ul
                min-height 100%

    li
        min-width 10em

        i
            display inline-block
            width 1.1em
