.well
    border-radius 0px

.btn
    border-radius 2px
    background-image none

input[type="text"], select
    border-radius 2px

.old-browser
    color red
    position absolute
    background-color #eee
    z-index 100
    top 0%
    left 0%
    text-align center
    width 100%
