.well
    border-radius 0px

input[type="text"], select
    border-radius 0

.old-browser
    color red
    position absolute
    background-color #eee
    z-index 100
    top 0%
    left 0%
    text-align center
    width 100%
