<div class="container">
    <div class="row">
        <div class="settings-nav"></div>

        <div class="col-lg-9">
            <h1><%- i18n('settings.twofactor.heading') %></h1>

            <div class="hidden-two-factor">
                <p class="lead"><%- i18n('settings.twofactor.disabled.lead') %></p>

                <img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|0&cht=qr&chl=otpauth://totp/<%= location.hostname %>:<%= api.user.email %>%3Fsecret=<%= secret %>%26issuer=Justcoin" />

                <form name="enable">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="secret"><%- i18n('settings.twofactor.disabled.secret') %></label>
                                <input type="text" class="form-control disabled" name="secret" value="<%= secret %>" disabled="disabled" />
                            </div>

                            <div class="form-group otp">
                                <label for="otp" class="control-label">
                                    <%- i18n('settings.twofactor.disabled.otp') %>
                                </label>
                                <input type="text" class="form-control" name="otp" data-regex="^\d{6}$" />
                                <span class="help-block visible-wrong">
                                    <%- i18n('settings.twofactor.otp.error.wrong') %>
                                </span>
                                <span class="help-block visible-invalid">
                                    <%- i18n('settings.twofactor.otp.error.invalid') %>
                                </span>
                                <span class="help-block visible-locked-out">
                                    <%- i18n('settings.twofactor.otp.error.locked out') %>
                                </span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <%- i18n('settings.twofactor.disabled.enable') %>
                    </button>
                </form>
            </div>

            <div class="visible-two-factor">
                <p class="lead"><%- i18n('settings.twofactor.enabled.lead') %></p>

                <form name="disable">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group otp">
                                <label for="otp" class="control-label">
                                    <%- i18n('settings.twofactor.enabled.otp') %>
                                </label>
                                <input type="text" class="form-control" name="otp" data-regex="^\d{6}$" />
                                <span class="help-block visible-wrong">
                                    <%- i18n('settings.twofactor.otp.error.wrong') %>
                                </span>
                                <span class="help-block visible-invalid">
                                    <%- i18n('settings.twofactor.otp.error.invalid') %>
                                </span>
                                <span class="help-block visible-locked-out">
                                    <%- i18n('settings.twofactor.otp.error.locked out') %>
                                </span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <%- i18n('settings.twofactor.enabled.disable') %>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
