<div class="container">
    <div class="row">
        <div class="trade-nav"></div>

        <div class="col-lg-9">
            <h1><%- i18n('markets.market.heading', base, quote) %></h1>

            <div class="market-nav"></div>

            <div class="row">
                <div class="col-lg-3">
                    <h3></h3>
                </div>

                <div class="order-modes col-lg-1">
                    <a href="#trade/<%= id %>/advanced/<%= type %>" class="visible-order-mode-market">Advanced</a>
                    <a href="#trade/<%= id %>/instant/<%= type %>" class="visible-order-mode-limit">Instant</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="visible-order-mode-market">
                        <div class="market-order">
                        </div>
                    </div>

                    <div class="visible-order-mode-limit">
                        <div class="limit-order">
                        </div>
                    </div>
                </div>

                <div class="depth-container hidden-order-mode-market col-lg-4">
                </div>
            </div>
        </div>
    </div>
</div>
