<div class="container">
    <div class="row">
        <div class="trade-nav"></div>

        <div class="col-lg-9">
            <div class="market-nav"></div>

            <h1><%- i18n('markets.market.heading', base, quote) %></h1>

            <p class="lead">
                <span class="visible-order-mode-market">
                    You'll be matched with the best price on the market.
                    If you'd like to place an order with a specific price,
                    use the <a href="#trade/<%= id %>/advanced/<%= type %>">
                    advanced order form</a>.
                </span>
                <span class="visible-order-mode-limit">
                    Unlike an <a href="#trade/<%= id %>/instant/<%= type %>">
                    instant order</a>, limit orders remain listed
                    until filled or cancelled.
                </span>
            </p>

            <div class="row">
                <div class="col-lg-6">
                    <div class="visible-order-mode-market">
                        <div class="market-order">
                        </div>
                    </div>

                    <div class="visible-order-mode-limit">
                        <div class="limit-order">
                        </div>
                    </div>
                </div>

                <div class="depth-container hidden-order-mode-market col-lg-6">
                </div>
            </div>
        </div>
    </div>
</div>
