<div class="container">
    <div class="row">
        <div class="withdraw-nav"></div>
        <div class="col-lg-9">
            <h1><%- i18n('withdraw.voucher.heading') %></h1>

            <p class="lead">
                <%- i18n('withdraw.voucher.intro') %>
            </p>

            <div class="create visible-creating">
                <form class="form">
                    <div class="row">
                        <div class="col-lg-6 panel">
                            <div class="currency form-group">
                                <label>
                                    <%- i18n('withdraw.voucher.currency') %>
                                </label>

                                <select name="currency" class="form-control"></select>
                            </div>

                            <div class="amount form-group">
                                <label>
                                    <%- i18n('withdraw.voucher.amount') %>
                                </label>

                                <input type="text" name="amount" class="form-control" />
                                <span class="help-block">
                                    <%- i18n('withdraw.voucher.of') %>
                                    <span class="available"></span>
                                </span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="submit btn btn-primary btn-block btn-large">
                                    <%- i18n('withdraw.voucher.submit') %>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="created visible-created">
                <div class="code"></div>
            </div>
        </div>
    </div>
</div>
