<div class="container">
    <div class="row">
        <div class="col-offset-3 col-lg-6">
            <h1><%= i18n('verifyphone.heading') %></h1>

            <p class="lead"><%= i18n('verifyphone.intro') %></p>

            <form class="call form-inline">
                <select name="country" class="country form-control">
                </select>

                <input type="text" name="phone" class="number form-control">
                <button type="submit" class="btn btn-primary pull-right"><%= i18n('verifyphone.call me') %></button>
            </form>

            <form class="code code-form form-inline pull-right">
                <input type="text" name="code" class="code form-control" />
                <button type="submit" class="btn btn-primary"><%= i18n('verifyphone.verify code') %></button>
            </form>
        </div>
    </div>
</div>
