<div class="container">
    <div class="row">
        <div class="withdraw-nav"></div>

        <div class="col-lg-8">
            <h1>
                <%- i18n('heading') %>
            </h1>

            <p class="lead">
                <%- i18n('intro') %>
            </p>

            <form class="transfer-form">
                <div>
                </div>

                <div class="email form-group">
                    <label for="email">
                        <%- i18n('transfer.email') %>
                    </label>
                    <input type="text" name="email" class="field form-control" />
                    <span class="help-block"></span>
                </div>

                <div class="amount form-group">
                    <label for="amount">
                        <%- i18n('transfer.amount') %>
                    </label>
                    <div class="form-inline">
                        <input name="amount" type="text" class="field form-control" />
                        <select name="currency" class="field form-control">
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>

                <div class="actions form-group">
                    <label></label>
                    <button type="submit" class="submit btn btn-success btn-large">
                        <%- i18n('transfer.submit') %>
                    </button>
                </div>
            </form>

            <form class="send-form form-horizontal">
                <div>
                    <h4><span class="email"></span> <%- i18n('send.heading') %></h4>
                    <%- i18n('send.intro') %>
                </div>

                <div class="actions form-group">
                    <label></label>
                    <button type="submit" class="submit btn btn-danger btn-large">
                        <%- i18n('send.submit') %>
                    </button>
                </div>
            </form>

            <div class="send-confirmed">
                <h4>
                    <%- i18n('confirmed.heading') %>
                </h4>
                <p class="confirmation"></p>
                <p>
                    <a href="#withdraw/email">
                        <%- i18n('confirmed.send another') %>
                    </a>
                    <%- i18n('confirmed.or') %>
                    <a href="#">
                        <%- i18n('confirmed.return to overview') %>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
