<div class="withdraw-nav area-nav col-lg-3">
    <div class="jc-sidebar">
        <ul class="nav jc-sidenav">
            <li class="bitcoin">
                <a href="#withdraw/bitcoin">
                    <i class="icon-bitcoin"></i>
                    Bitcoin
                </a>
            </li>
            <li class="litecoin">
                <a href="#withdraw/litecoin">
                    <i class="icon-circle-arrow-right"></i>
                    Litecoin
                </a>
            </li>
            <li class="ripple">
                <a href="#withdraw/ripple">
                    <i class="icon-circle-arrow-right"></i>
                    Ripple
                </a>
            </li>
            <li class="bank">
                <a href="#withdraw/bank">
                    <i class="icon-money"></i>
                    <%- i18n('withdraw.nav.bank') %>
                </a>
            </li>
            <li class="email">
                <a href="#withdraw/email">
                    <i class="icon-envelope"></i>
                    <%- i18n('withdraw.nav.to user') %>
                </a>
            </li>
            <li class="voucher">
                <a href="#withdraw/voucher">
                    <i class="icon-gift"></i>
                    <%- i18n('withdraw.nav.voucher') %>
                </a>
            </li>
            <li>
                <a></a>
            </li>
            <li class="withdraws">
                <a href="#withdraw/withdraws">
                    <i class="icon-list"></i>
                    <%- i18n('withdraw.nav.withdraws') %>
                </a>
            </li>
        </ul>
    </div>
</div>
