<div class="container">
    <div class="row">
        <div class="deposit-nav"></div>

        <div class="span6">
            <h3><%= i18n('depositbank.heading') %></h3>

            <p><%= i18n('depositbank.intro') %></p>

            <div class="well">
                <table class="payment-details">
                    <tr>
                        <td><%= i18n('depositbank.recipient') %></td>
                        <td>
                            Justcoin AS<br />
                            Tordenskioldsgate 3<br />
                            0160 Oslo
                        </td>
                    </tr>
                    <tr>
                        <td class="account-number"><%= i18n('depositbank.account') %></td>
                        <td>1503.36.59595</td>
                    </tr>
                    <tr>
                        <td><%= i18n('depositbank.messageToRecipient') %></td>
                        <td><%= messageToRecipient %></td>
                    </tr>
                    <tr>
                        <td><%= i18n('depositbank.minimumAmount') %></td>
                        <td>100 NOK</td>
                    </tr>
                    <tr>
                        <td><%= i18n('depositbank.maximumAmount') %></td>
                        <td>8500 NOK</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
