<div class="container">
    <div class="row">
        <div class="deposit-nav"></div>

        <div class="col-lg-9">
            <h1><%= i18n('depositbank.heading') %></h1>

            <p class="lead"><%= i18n('depositbank.intro') %></p>

            <div class="row">
                <div class="col-lg-8">
                    <div class="well">
                        <dl class="payment-details dl-horizontal">
                            <dt><%= i18n('depositbank.recipient') %></dt>
                            <dd>
                                Justcoin AS<br />
                                Tordenskioldsgate 3<br />
                                0160 Oslo
                            </dd>
                            <dt class="account-number"><%= i18n('depositbank.account') %></dt>
                            <dd>1503.36.59595</dd>
                            <dt><%= i18n('depositbank.messageToRecipient') %></dt>
                            <dd><%= messageToRecipient %></dd>
                            <dt><%= i18n('depositbank.minimumAmount') %></dt>
                            <dd class="minimum">100 NOK</dd>
                            <dt><%= i18n('depositbank.maximumAmount') %></dt>
                            <dd>8500 NOK</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
