<div class="form-group amount">
    <label for="amount">
        Amount
        (<a href="#" data-action="all">All</a>)
    </label>

    <div class="input-group">
        <input type="text" name="amount" value="<%= value %>" class="field form-control" />

        <% if (fixedCurrency) { %>
            <span class="input-group-addon"><%= currency %></span>
        <% } else { %>
            <span class="input-group-addon">
                <select name="currency" class="field form-control" >
                </select>
            </span>
        <% } %>
    </div>
</div>
