#area > .trade-market
    states order-mode-limit order-mode-market

    //    .order-modes
    //        font-size 1.15em
    //        text-align right
    //        padding-top 20px*/

    //    .order-types
    //        font-size 1.15em
    //

    .amount
        states insufficient-funds precision-too-high

    .market-order, .limit-order
        states order-type-bid order-type-ask

    .limit-order
        .price
            states precision-too-high

    .market-order
        .bid
            .amount
                states insufficient-funds precision-too-high too-deep too-small

        .ask
            .sell
                states too-deep insufficient-funds precision-too-high

    .market-order, .limit-order
        .bid, .ask
            .order-summary
                td
                    text-align right

//    .ask, .bid
//        .available-container
//            margin-bottom 2em

//        .order-summary
//            margin-bottom 2em
//            max-width 22em
//            font-size 0.85em

//            th
//                font-weight normal
//
//            td
//                text-align right
//
//        button[type="submit"]
//            width 100%
//            max-width 15em

//
//    h5
//        margin-bottom 1.8em

//    table.depth
//        width 23em



#area > .trade-orders
    .active-orders, .order-history
        td.number
            text-align right

.trade-nav
    .order-modes
        @media (min-width: 768px)
            margin-top 33px

        font-size 1.5em

        .active
            font-weight bold
            pointer-events none
            color #333

    .jc-sidenav
        @media (min-width: 768px)
            margin-top 10px
