#area > .withdraw-bitcoin
    states entry review summary

    .review
        .actions
            margin-top 3em

    .submit
            width 100%
            max-width 15em

        .summary
            .status
                states requested processing completed cancelled updating

        .payment-details
            margin 3em 0 3em
            width auto

#area > .withdraw-email
    .send-form, .send-confirmed
        display none

    .actions
        margin-top 2em

        .submit
            width 100%
            max-width 13.7em

#area > .withdraw-litecoin
    states entry review summary

    .summary
        .status
            states requested processing completed cancelled updating

    .payment-details
        margin 3em 0 3em
        width auto

    .review
        .actions
            margin-top 3em

#area > .withdraw-ripple
    states entering reviewing sending

    .entry
        .address
            states unfunded too-low-trust

    .summary
        .status
            states requested processing completed cancelled updating

    .payment-details
        margin 3em 0 3em
        width auto

    .review
        .actions
            margin-top 3em

#area > .withdraw-voucher
    states created creating

    .form
        max-width 28em

        .control-label
            width 5em

        .controls
            margin-left 6.5em

            select, input, button
                width 100%
                max-width 10em

            input
                max-width 9em

#area > .withdraw-bank
    states empty allowed

#area > .withdraw-withdraws
    states empty loading loaded

.withdraw-nav
    .nav li i
        display inline-block
        width 1.1em
