.api-keys
    states showing-add

    .show-add
        margin-top 10px
        margin-bottom 15px

#sectionb > .account-funds
    .balances
        td
            padding 10px
            background-color orange

