#area > .account-apikeys
    states showing-add

    .show-add
        margin-top 10px
        margin-bottom 15px

#area > .vouchers
    states empty

    .vouchers-table
        width auto
        max-width 300px

#area > .account-activity
    .activity .when
        min-width 13em

#area > .account-funds
    .balances
        //width: auto
        a[href="#my/withdraw/XRP"],
        a[href="#my/deposit/XRP"],
        a[href^="#my/send"]
            display: none

         tr .amount, th.amount
            text-align right

        th
            font-size 1.3em

        td.currency
            font-size 1.3em

        .balance
            td
                padding 15px 20px 10px 20px

        .available
            font-size 2em
            color #555
            text-align right

    .withdraws.is-empty
        display none

#area > .account-bankaccounts
    states empty loading loaded

    .accounts-table
        .actions
            max-width 5em

#area > .account-bankaccounts-addnorway
    //

#area > .account-transactions
    states loading
