#area > .account-apikeys
    states showing-add

    .show-add
        margin-top 10px
        margin-bottom 15px

#area > .vouchers
    states empty

    .vouchers-table
        width auto
        max-width 300px

#area > .account-activity
    .activities
        max-width 500px

#area > .account-funds
    .balances
         width: auto

         tr .amount
            text-align right
