<div class="modal fade add-bank-account">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%- i18n('account.bankaccounts.add.heading') %></h4>
            </div>
            <div class="modal-body">
                <p class="alert alert-block">
                    <%- i18n('account.bankaccounts.add.explanation') %>
                </p>

                <form class="bank-account-form form-horizontal">
                    <div class="form-group account-number">
                        <label class="control-label">
                            <%- i18n('account.bankaccounts.add.account-number') %>
                        </label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="add-button btn btn-primary">
                            <%- i18n('account.bankaccounts.add.submit') %>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
