<div class="container">
    <div class="row">
        <div class="account-nav"></div>

        <div class="col-lg-9">
            <h1><%- i18n('account.bankaccounts.heading') %></h1>

            <p class="lead alert alert-info visible-loading"><%- i18n('loading') %>...</p>

            <div class="row visible-loaded">
                <div class="col-lg-12">
                    <div class="btn-group btn-group-justified btn-default">
                        <a class="add btn jc-btn" href="#account/bankaccounts/add/norway">
                            <i class="icon-plus"></i>
                            <%- i18n('account.bankaccounts.add other button') %>
                        </a>
                        <a class="add btn jc-btn" href="#account/bankaccounts/add">
                            <i class="icon-plus"></i>
                            <%- i18n('account.bankaccounts.add norway button') %>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row visible-loaded">
                <div class="col-lg-12">
                    <div class="alert alert-info visible-empty">
                        <p class="lead visible-empty"><%- i18n('account.bankaccounts.empty') %></p>
                    </div>

                    <table class="accounts-table table table-striped hidden-empty">
                        <thead>
                            <tr>
                                <th class="account-number-header">
                                    <%- i18n('account.bankaccounts.headers.account-number') %>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="accounts">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
