<div class="container">
    <div class="row">
        <div class="withdraw-nav"></div>
        <div class="col-lg-6">
            <h1><%= i18n('withdrawbank.heading') %></h1>

            <p><%= i18n('withdrawbank.intro') %></p>

            <div class="no-bank-accounts error">
                <p>
                    <%- i18n('withdrawbank.no bank account error') %>
                    <a href="#account/bankaccounts"><%- i18n('withdrawbank.no bank account add') %></a>
                </p>
            </div>

            <form class="well">
                <div class="form-group">
                    <label><%- i18n('withdrawbank.bank account.label') %></label>
                    <select name="bankAccount" class="bank-account form-control"></select>

                    <span class="help-block">
                        <a href="#account/bankaccounts"><%- i18n('withdrawbank.no bank account manage') %></a>
                    </span>
                </div>

                <div class="form-group">
                    <label for="amount"><%= i18n('amount') %></label>
                    <input class="amount form-control" type="text" id="amount" placeholder="<%= i18n('amount') %>" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-large btn-block"><%- i18n('withdrawbank.submit') %></button>
                </div>
            </form>
        </div>
    </div>
</div>
