<div class="account-nav area-nav col-lg-3">
    <div class="jc-sidebar">
        <ul class="nav jc-sidenav">
            <li class="funds">
                <a href="#account/funds">
                    <i class="icon-list"></i>
                    <%- i18n('account.nav.funds') %>
                </a>
            </li>
            <li class="activity">
                <a href="#account/activity">
                    <i class="icon-list"></i>
                    <%- i18n('account.nav.activity') %>
                </a>
            </li>
            <li class="transactions">
                <a href="#account/transactions">
                    <i class="icon-list"></i>
                    <%- i18n('account.nav.transactions') %>
                </a>
            </li>
            <li class="bankaccounts">
                <a href="#account/bankaccounts">
                    <i class="icon-money"></i>
                    <%- i18n('account.nav.bankaccounts') %>
                </a>
            </li>
            <li class="vouchers">
                <a href="#account/vouchers">
                    <i class="icon-gift"></i>
                    <%- i18n('account.nav.vouchers') %>
                </a>
            </li>
            <li class="apikeys">
                <a href="#account/apikeys">
                    <i class="icon-key"></i>
                    <%- i18n('account.nav.apikeys') %>
                </a>
            </li>
        </ul>
    </div>
</div>
