<div class="row">
    <div class="well">
        <p class="available-container">
            <%- i18n('markets.market.limitorder.ask.available.you have') %>
            <span class="available">...</span>
        </p>

        <form>
            <div class="form-group amount">
                <label class="control-label">
                    <%- i18n('markets.market.limitorder.ask.amount.label') %>
                    (<a href="#" data-action="sell-all">
                        <%- i18n('markets.market.limitorder.ask.amount.all') %>
                    </a>)
                </label>

                <div class="input-group">
                    <input type="text" name="amount" class="form-control" />
                    <span class="input-group-addon"><%= base %></span>
                </div>

                <span class="help-inline">
                    <span class="visible-insufficient-funds hidden-precision-too-high">
                        <%- i18n('markets.market.limitorder.ask.amount.insufficient funds') %>
                    </span>
                    <span class="visible-precision-too-high">
                        <%- i18n('markets.market.limitorder.ask.amount.too many decimals') %>
                    </span>
                </span>
            </div>

            <div class="form-group price">
                <label class="control-label">
                    <%- i18n('markets.market.limitorder.ask.price.label') %>
                    <%= base %>
                </label>

                <div class="input-group">
                    <input type="text" name="price" class="form-control" />
                    <span class="input-group-addon"><%= quote %></span>
                </div>

                <span class="help-inline">
                    <span class="visible-precision-too-high">
                        <%- i18n('markets.market.limitorder.ask.price.too many decimals') %>
                    </span>
                </span>
            </div>

            <table class="table order-summary">
                <tr>
                    <th>
                        <%- i18n('markets.market.limitorder.ask.summary.order total') %>
                    </th>
                    <td>
                        <span class="hidden-too-deep">
                            <span class="quote"></span> <%= quote %>
                        </span>
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-large" style="width:100%">
                    <%- i18n('markets.market.limitorder.ask.submit') %>
                </button>
            </div>
        </form>
    </div>
</div>
