@-webkit-viewport,
@-moz-viewport,
@-ms-viewport,
@-o-viewport,
@viewport
  width: device-width

.header
  background white
  padding 10px
  border-bottom solid 1px #ddd

.cover
    background-color: #70d0fa
    background-image url("/norway.jpg")
    background-size cover
    background-position center
    height 601px

    .cover-content
      margin-top 200px

    .tagline, .sub-tagline
      color: white;
      text-shadow: 0px 1px black;
      font-size: 50px;
      font-weight: normal;
      font-family: ProximaNova, Arial, sans-serif;

    .sub-tagline
      font-size 20px

@media (max-width: 768px)
  .cover
    height 240px

    .tagline, .sub-tagline
      font-size 30px

    .sub-tagline
      font-size 18px

    .cover-content
      margin-top 20px

body
  margin 0
  padding 0

.logo
  //background yellow

.nav
  //background blue
  text-align right

.customer-count
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  padding-top 25px
  margin-bottom 50px
  text-align center

.media-item
  margin-top:25px
.media-item:last-child
  margin-left:50px

@media(max-width:768px)
    .customer-count
      font-size 23px

.wrapper
  padding: 0 15px;

.btn.cta
  padding: 18px 28px;
  font-size: 32px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-top 45px

@media(max-width:768px)
  .btn.cta
      padding: 18px 28px;
      font-size: 24px;
      line-height: normal;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      margin-top 24px
    .btn-login
      padding: 3px 5px
      font-size: 13px
      margin-top: 6px

.vias i
  font-size 9em
  color #4488AA 
  margin-top: 20px

@media(max-width:768px)
  .vias i
    font-size: 3em   

.vias > *
  text-align center

.footer
  margin-top 150px
  border-top solid 1px #ccc
  background #444
  color #c9c9c9
  padding-top 50px

.footer .links > p
  border-bottom:solid 1px #666

.footer .links, .footer .links li
  list-style-type: none
  padding-bottom 7px

  a
    color #c9c9c9

.testimonials .testimonial .quote
  font-size: 1.3em;
  color #222
  font-style: italic;

@media(max-width:500px)
  .testimonials .testimonial .quote
    font-size: 1em;

.testimonial
  border solid 1px #fafafa
  background #f9f9f9
  padding 2em

.quoter
  text-align right

h2
  margin-top 35px

@media(max-width:500px)
  .customer-count
    margin-bottom 30px
  .media-item:last-child
    margin-left:0
  .footer
    margin-top: 30px;
