@import "bower_components/bootstrap/css/bootstrap.min.css"
@import "bower_components/bootstrap/css/bootstrap-responsive.min.css"
@import "states.styl"

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

em.icon-large {
  width auto
  height 1em
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}


/* Custome stuff... */

.header-background {
  background: #388eb2 url(norway.jpg);
  background-repeat:no-repeat;
  height:600px;
  background-position:center top;
  margin-bottom: 60px;
}

.header {
  text-shadow:0 1px 1px rgba(0,0,0,.4);
  color:#fff;
  max-width:680px;
  //margin-top:122px;
  //margin-left:100px;
}

.logo {
  margin-top 14px
  margin-bottom 14px

}

.logo-background
  margin-top 154px;
  background rgba(54, 25, 25, .5)
  max-width 550px

.btn-login, .btn-login:hover {
  display: block;
  position: absolute;
  top:0;
  right: 20px;
  color: #fff;
  text-decoration: none;
}

.tickers
  visibility hidden
  text-shadow: 0 0 2px rgba(0,0,0,0.3);

.ticker-stock {
  border 0
  background transparent
  color #fff
  width 100px
  margin-top 7px
}

.ticker-stock:hover, .ticker-stock option {
  background #fff
  color black
}

.ticker-type {
  font-size: 12px;
}

@media (max-width: 767px) {

  .header-background {
    margin: 0 -20px 40px;
    height:400px;
  }

  .header {
    margin-left:20px;
    margin-right:20px;
    margin-top:30px;
  }

  .header .lead {
    font-size: 17px;
    line-height: 25px;
  }

  .btn-container {
    text-align: center;
  }
}

.login-phone
  margin-top 15px
  margin-bottom 15px

.tickers a, .tickers a:hover
  color #fff
  margin-top 10px
  margin-left 10px

body
  states showing-chart fetched-markets

.charts
  height 400px

.has-fetched-markets
  .tickers
    visibility visible

h1
  font-weight normal
  font-size 25px
