<div class="container">
    <div class="row">
        <div class="account-nav"></div>
        <div class="col-lg-9">
            <h1><%- i18n('account.vouchers.heading') %></h1>

            <p>
                <a href="#withdraw/voucher"><%- i18n('account.vouchers.create') %></a>
                <a href="#deposit/voucher"><%- i18n('account.vouchers.redeem') %></a>
            </p>

            <p class="visible-empty"><%- i18n('account.vouchers.empty') %></p>

            <table class="vouchers-table table table-striped table-bordered hidden-empty">
                <thead>
                    <tr>
                        <th><%- i18n('account.vouchers.headers.code') %></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="vouchers">
                </tbody>
            </table>
        </div>
    </div>
</div>
