#area > .trade-market
    states order-mode-limit order-mode-market

    .order-modes
        font-size 1.15em

    .order-types
        font-size 1.15em

    .amount, .spend
        states insufficient-funds precision-too-high

    .market-order, .limit-order
        states order-type-bid order-type-ask

    .limit-order
        .price
            states precision-too-high

    .market-order
        .amount
            too-deep

#area > .trade-orders
    .active-orders, .order-history
        td.number
            text-align right
