<div class="container">
    <div class="row">
        <div class="deposit-nav"></div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <h1><%= i18n('deposit.bank.NOK.heading') %></h1>
                </div>
            </div>

            <div class="row visible-allowed">
                <div class="col-lg-12">
                    <p class="lead">
                        <%= i18n('deposit.bank.NOK.intro') %>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 hidden-allowed">
                    <div class="alert lead">
                        Sorry, but at this time we do not accept NOK bank deposits from your country,
                        <strong><%= api.user.countryFriendly() %></strong>.
                    </div>
                </div>

                <div class="col-lg-12 payment-details visible-allowed">
                    <div class="panel">
                         <p class="visible-allowed">
                            <%- i18n('deposit.bank.NOK.kyc warning', formatters.escape(api.user.firstName + ' ' + api.user.lastName), formatters.escape(api.user.address)) %>
                        </p>

                        <div class="row">
                            <div class="col-lg-6">
                                <strong><%= i18n('deposit.bank.NOK.recipient') %></strong>
                            </div>
                            <div class="col-lg-6">
                                Justcoin AS<br />
                                Tordenskioldsgate 3<br />
                                0160 Oslo
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <strong><%= i18n('deposit.bank.NOK.account') %></strong>
                            </div>

                            <div class="col-lg-6">
                                1503.36.59595
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <strong><%= i18n('deposit.bank.NOK.messageToRecipient') %></strong>
                            </div>

                            <div class="col-lg-6">
                                <%= messageToRecipient %>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <%= i18n('deposit.bank.NOK.fee') %>
                            </div>

                            <div class="col-lg-6">
                                <span style="color:green;font-weight:bold">
                                    <%= i18n('deposit.bank.NOK.fee free') %>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <%= i18n('deposit.bank.NOK.minimumAmount') %>
                            </div>

                            <div class="col-lg-6">
                                100 NOK
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
