.verify-phone
    .call
        select[name="country"]
            max-width 170px
        button
            width 120px
    .code
        .code
            max-width 100px
            margin-right 15px
        button
            width 120px
